/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
}

a {
	text-decoration: none;
	font-size: large;
}
/*Style the images*/
img{
    height: 175px;
	width:auto;
    border: 3px;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, footer{
	border: 3px;
	margin: 20px 0;
}


/*Change the styling for all of the list 
items in the nav section*/
nav li{
	padding:10px;
	width:15%;
	border:1px solid black;
	display: inline-block;
	text-align: center;
}

a {
	background: white;
    text-transform: uppercase;
    font-weight: bold;
	color: black;
}

a:hover{
	color: gray;
}

a:active {
	color: yellow;
}

.active a {
	background: white;
    text-transform: uppercase;
    font-weight: bold;
	color: pink;
}

.active a:hover{
	color: gray;
}

.active a:active{
	color: yellow;
}

.picture{
    position: relative;
    border: 2px;
    margin: 10px;
    padding: 0;
    width: auto;
}

.picture:hover{
    position: relative;
    border: 2px solid pink;
    margin: 10px;
    padding: 0;
    width: auto;
}


.skip-link {
	background: white;
	color: pink;
	font-weight: 700;
	padding: 5px;
	position:absolute; 
	right:5px; 
	top:2px;
}

.skip-link:focus {
	transform: translateY(0%);
}




/*Added this so the links stay the same color*/

