/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
	font-family: 'Poppins', sans-serif;
	background-image: url("../images/background.jpg");
	background-color: #cccccc;
	display: grid;
	row-gap: 30px;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 200%; 
	font-weight: bold;
}

a {
	text-decoration: none;
	font-size: 80%;
}

/*Style the images*/
img{
    height: 100%;
	width: 100;
	max-width:300px;
	max-height: 200px;
    border: 3px;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
}

aside {
	display: grid;
	grid-column: 1 / -1;
	width: 100%;
}
/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, footer {
	border: 3px;
	margin: 20px 0;
	display: grid;
	grid-column: 1 / -1;
	width: 100%;
}


/*Change the styling for all of the list 
items in the nav section*/
nav li{
	padding:2%;
	width:15%;
	border:10%;
	display: inline-table;
	text-align: center;
}

figcaption {
	text-align: center;
}
a {
	background: none;
    text-transform: uppercase;
    font-weight: bold;
	color: black;
	font-size:90%;
}

a:hover{
	color: gray;
}

a:active {
	color: yellow;
}

.active a {
	background: none;
    text-transform: uppercase;
    font-weight: bold;
	color: rgb(162, 43, 41);
}

.active a:hover{
	color: gray;
}

.active a:active{
	color: yellow;
}

.picture{
    position: relative;
    border: 2px;
    margin: 10px;
    padding: 0;
    width: auto;
}

.picture:hover{
    position: relative;
    border: 2px solid pink;
    margin: 10px;
    padding: 0;
    width: auto;
}


.skip-link {
	background: none;
	color: rgb(162, 43, 41);
	font-size: 70%;
	font-weight: 700;
	padding: 5px;
	position:absolute; 
	right:5px; 
	top:2px;
}

.skip-link:focus {
	transform: translateY(0%);
}

#mainpic {
	animation: fadeIn 3s;
}

.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

@media all and (min-width: 800px){
	body {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr 1fr;
		grid-template-rows: 1fr;
	}
	header {
		grid-column: 1 / 2;
	}
	footer {
		grid-column: 4 / -1;
	}
	aside {
		grid-column: 3 / -1;
	}
	main {
		grid-column: 1 / -1;
	}
	.gallery{
        display: flex;
		flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }    
}